<div class="app-layout">
    <app-chat-sidebar
            [users]="socketService.activeUsers()"
            [selectedUserId]="selectedUserId()"
            (selectUser)="onSelectUser($event)"
    ></app-chat-sidebar>

    <main class="chat-main">
        @if (selectedUserId()) {
            <div>Обрано юзера: {{ selectedUserId() }}</div>
        } @else {
            <div class="empty-chat-placeholder">
                Select a chat to start messaging
            </div>
        }
    </main>
</div>